// Styling for the navbar
#mainNav {
  background-color: $gray-900;
  .navbar-toggler {
    font-size: 12px;
    right: 0;
    padding: 13px;
    text-transform: uppercase;
    color: white;
    border: 0;
    background-color: $primary;
    @include heading-font;
  }
  .blacklogo {
    display: none;
  }
  .whitelogo {
    display: block;
    margin-left: 0px;
    height: 50px;
  }
  .navbar-brand, .navbar-brand2 {
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    padding-right: 16px;
    border: 0px solid #fff;
    color: $favblue;
    font-weight: bold;
    @include script-font;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: darken($favblue, 10%);
    }
  }
  .navbar-brand2 {
    font-size: 1.5em;
    padding: 3px;
  }
  .navbar-nav {
    .nav-item {
      .nav-link, .nav-link2 {
        text-decoration: none;
        font-size: 100%;
        font-weight: bold;
        padding: 0.75em 0;
        letter-spacing: 1px;
        color: white;
        @include heading-font;
        &.active,
        &:hover {
          color: $favblue;
        }
      }
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 25px;
    padding-bottom: 25px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: transparent;
    .navbar-brand, .navbar-brand2 {
      font-size: 1.75em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
    }
    .whitelogo {
      display: none;
    }
    .blacklogo, .navbar-brand2 .whitelogo{
      //background-color: rgba($gray-900,0.8);
      display: block;
      margin-left: 100px;
      height: 90px;
    }
    .navbar-brand2 {
      font-size: 3em;
    }
    .navbar-nav {
      .nav-item {
        .nav-link {
          color: $gray-900;
        }
        .nav-link, .nav-link2 {
          padding: 1.1em 1em !important;
          text-decoration: none;
        }
      }
    }
    &.navbar-shrink {
      padding-top: 0;
      padding-bottom: 0;
      background-color: $gray-900;
      .whitelogo {
        display: block;
        height: 50px;
        margin-left: 0px;
      }
      .blacklogo {
         display: none;
       }
      .navbar-brand, .navbar-brand2 {
        font-size: 1.25em;
        padding: 12px 0;
        background-color: transparent;
        border: none;
      }
      .navbar-nav {
        .nav-item {
          .nav-link, .nav-link2 {
            padding: 1.1em 1em !important;
            color: white;
            &.active {
              color: $favblue;
            }
            &:hover {
              color: darken($favblue, 10%)
            }
          }
        }
      }
    }
  }
}
